<header class="w-screen fixed text-white z-30 p-8 flex items-center justify-between">
    <div>Saunders</div>
    <div>
        <ul class="flex">
            <li class="mx-4"><a href="#">Home</a></li>
            <li class="mx-4"><a href="#">About</a></li>
            <li class="mx-4"><a href="#">Contact</a></li>
        </ul>
    </div>
    <div>
        <button class="bg-gray-200 text-black p-2 rounded-lg">Get a Quote</button>
    </div>
</header>