<header class="flex z-50 text-white w-full items-center justify-center border-b-2 border-gray-700 p-4 fixed backdrop-blur-lg">
    <div class="flex h-max w-full items-center justify-between md:max-w-6xl">
      <div class="text-3xl font-bold">Saunders</div>
      <div class="hidden space-x-5 font-semibold sm:flex">
        <div>Products</div>
        <div>Features</div>
        <div>Examples</div>
        <div>Pricing</div>
      </div>
      <button class="rounded-md bg-white px-8 py-2 text-black">Sign In</button>
    </div>
</header>